@media screen and (max-width: 980px) {
    .container {
        width: 100%;
    }
    header {
        height: 60px;
        width: 100%;
        position: fixed;
    }
    #navigation {
        display: none
    }
    #nav-button {
        background-color: rgba(255, 255, 255, 0.12);
        width: 45px;
        height: 45px;
        position: absolute;
        border-radius: 5px;
        left: 10px;
        top: 6px;
        transition: background .1s ease-out
    }
    #nav-button:hover {
        background: red
    }
    nav {
        position: fixed;
        top: 60px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: height .1s ease-out;
    }
    nav ul {
        width: 100%;
        display: inline-block;
        overflow: hidden
    }
    nav ul li {
        width: 100%;
    }
    nav ul .center {
        width: calc(100%);
    }
    .center.left {
        text-align: center;
    }
    .center.right {
        text-align: center;
    }
    section {
        width: calc(100% - 320px);
        float: left;
        height: 50%;
        margin-top: 70px;
        background-color: blue;
    }
    aside {
        width: 320px;
        float: left;
        height: 50%;
        margin-top: 70px;
        background-color: #0000a3;
    }
}

@media screen and (min-width: 980px) and (max-width: 2500px) {
    .container {
        width: 980px;
    }
    header {
        height: 100px;
    }
    .logo {
        height: 130px;
        width: 280px;
        position: absolute;
        left: calc(50% - 140px);
        display: block
    }
    #navigation {
        display: none
    }
    #nav-button {
        background-color: rgba(255, 255, 255, 0.12);
        width: 45px;
        height: 45px;
        position: absolute;
        border-radius: 5px;
        left: 10px;
        top: 6px;
        transition: background .1s ease-out;
        display: none
    }
    #nav-button:hover {
        background: red
    }
    nav {
        width: 980px;
        height: 30px;
        background-color: aqua;
        transition: height .1s ease-out;
    }
    nav ul {
        width: 100%;
        display: inline-block;
        overflow: hidden
    }
    nav ul li {
        width: calc(50% / 6);
    }
    nav ul .center {
        width: calc(25%);
    }
    .center.left {
        text-align: left;
        padding-left: 20px
    }
    .center.right {
        text-align: right;
        padding-right: 20px
    }
    section {
        width: calc(100% - 320px);
        float: left;
        height: 150%;
        margin-top: 10px;
        background-color: blue;
    }
    aside {
        width: 320px;
        float: left;
        height: 50%;
        margin-top: 10px;
        background-color: #0000a3;
    }
}